.header {
	display: flex;
	height: 90px;
}

h1 {
	display: inline-block;
	margin: 0 10px 0 0;
	align-self: center;
}

button {
	height: 25px;
	align-self: center;
	margin-left: 10px;
}

.main {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
}

.task {
	width: 200px;
	min-height: 100px;
	overflow: hidden;
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	text-align: center;
	margin: 0 10px 10px 0;
	align-self: flex-start;
}

.square {
	position: relative;
	width: 160px;
	min-height: 30px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	box-sizing: border-box;
	align-self: flex-start;
	word-wrap: break-word;
	margin: 5px 5px;
}

.active {
	border-color: red;
}

.task > span {
	display: block;
	margin: 15px auto;
}

.task button {
	display: block;
	margin: 15px auto;
}

.square button {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 20px;
	height: 18px;
	top: 0px;
	right: -25px;
}

.task textarea {
	width: 90%;
	min-height: 50px;
}

.square textarea {
	width: 95%;
	min-height: 100px;
}