.flex {
    display: flex;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    width: 280px;
    height: 380px;
}

.hieroglyph, .translation {
    position: absolute;
    width: 230px;
    height: 305px;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    background-repeat: no-repeat;
    background-position: center;
    /* transition: all .8s; */
}

.translation h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 305px;
}

.card:first-child .hieroglyph {
    background-image: url("../img/power.jpg");
}

.card:nth-child(2) .hieroglyph {
    background-image: url("../img/luck.jpg");
}

.card:nth-child(3) .hieroglyph {
    background-image: url("../img/longevity.jpg");
}

.translation {
    transform: rotate3d(0,1,0, 180deg);
}

.card:hover .hieroglyph {
    animation: rotate-hieroglyph 0.8s;
	animation-fill-mode: forwards;
}

.card:hover .translation {
	animation: rotate-translation 0.8s;
	animation-fill-mode: forwards;
}

.hieroglyph, .translation {
    backface-visibility: hidden;
}

@keyframes rotate-hieroglyph {
	0% {
		transform: none;
	}
	100% {
    	transform: perspective(800px) rotate3d(0,1,0, 180deg);
	}
}

@keyframes rotate-translation {
	0% {
		transform: rotate3d(0,1,0, 180deg);
	}
	100% {
		transform: perspective(800px) rotate3d(0,1,0, 0deg);
	}
}